#gallery h2 {
  text-align: center;
}

#gallery .project {
  border-radius: 30px;
  box-shadow: 0 0 15px 10px;
  height: auto;
  margin-bottom: 5em;
  opacity: 0.7;
  padding: 50px;
  overflow: hidden;
}

#gallery h3 {
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
}

#gallery img {
  margin-right: 20px;
  width: 100%;
}

#gallery img:hover {
  cursor: pointer;
  border: 5px solid #f7f7f7;
}

#gallery p {
  margin-top: 25px;
  text-align: justify;
}

#gallery .buttonContainer {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}
#gallery .buttonContainer button {
  border-radius: 50px;
}
#gallery .buttonContainer button:hover {
  border: 2px solid yellow;
  cursor: pointer;
}
